.footerComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
  font-size: 10pt;
}

.selectLanguage {
  display: flex;
}

.darkMode {
  margin: 0 15px 0 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.darkMode .darkModeToolTipText {
  visibility: hidden;
  width: 120px;
  background-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.darkMode .darkModeToolTipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.darkMode:hover .darkModeToolTipText {
  visibility: visible;
}

.selectLanguage > select {
  /* border: solid red 1px; */
  border: 0px;
  font-size: 10pt;
  text-decoration: underline;
  cursor: pointer;
}

/* .disclaimers {
  border: solid black 1px;
} */

.disclaimers > a {
  display: inline-block;
  margin: 0px 3px 0px 20px;
  text-decoration: none;
  cursor: pointer;
}

.disclaimers > a:hover {
  color: rgb(92, 92, 92);
}
